body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0ead6;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

p {
    margin-bottom: 20px;
}

.course-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.course-table th, .course-table td {
    border: 1px solid #ddd;
    padding: 12px; 
    text-align: left;
}

.course-table th {
    background-color: #333;
    color: white;
}

.course-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.course-table tr:hover {
    background-color: #ddd;
}


.course-table tr {
    height: 60px; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
